@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:wght@300&display=swap');

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #635f5f;
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  overflow: hidden;
}

#title {
  font-size: 20px;
  border-bottom: 2px solid #08F;
  margin-top: -100px;
  margin-bottom: 10px;
}

#title span {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  color: #08F;
}

#quote-box {
  background: rgb(53, 53, 85);
  max-width: 70%;
  min-width: 40%;
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#sub-wrapper {
  transition: all 0.5s ease;
}

#canvas {
  position: relative;
  width: 300px;
  height: 150px;
}

#text {
  margin-top: 100px;
  padding: 20px;
}

#author {
  width: 200px;
  margin-top: 20px;
  margin-left: 40%;
}

#border {
  width: 90%;
  height: 1px;
  background: white;
  margin: 10px;
}

#buttons {
  display: flex;
}

#new-quote, #tweet {
  width: 50px;
  aspect-ratio: 1;
  margin: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: crimson;
  color: white;
  font-family: 'Pacifico', 'Ubuntu';
  font-size: 16px;
  vertical-align: middle;
  line-height: 50px;
  transition: all 0.3s ease;
}

#tweet {
  font-size: 20px;
  background: blue;
  text-align: center;
}

#tweet-quote {
  color: white;
  text-decoration: none;
  padding-top: 20px;
}